body{
    background-color: beige;
}

h1{
    padding: 10px 0px;
}

#resultado-consulta{
    margin: 0px 20px;
    display: none;
}

#boton-reiniciar{
    justify-content: center;
}

.rojo {
    border-color: red;
}
